@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(245, 238, 228);
}
.body-dark {
    background-color: #2C2335;
}
.burger {
    display: none;
}
.header {
    background-image: url("img/back1.jpg");
    width: 100%;
    height: 800px;
}
.header_top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header_top_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30em;
    margin-right: 3%;
    margin-top: 0.5%;
    margin-left: 3%;
}
.header_top_links_link {
    color: #fafaf83d;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 125%;
    text-decoration: none;
}
.header_top_button {
    padding: 0.1%;
    border: 1px solid #fafaf83d;
    border-radius: 5%;
    background-color: rgba(240, 248, 255, 0);
    margin-right: 2%;
    margin-top: 0.5%;
}
.header_top_button .header_top_links_link {
    font-size: 145%;
}


.header_base {
    display: flex;
    margin-top: 15em;
    margin-left: 5em;
    width: 30em;
    text-align: left;
    flex-wrap: wrap;
}
.header_base_secondstr {
    display: flex;
    flex-wrap: nowrap;
}
.header_base_content {
    color: #D8D4CE;
    font-family: 'Roboto';
    font-size: 400%;
    font-weight: 400;
}
.header_base_design {
    border: 2px solid #4E4067;
    border-radius: 4%;
}
.header_base_design_content {
    color: #4E4067;
    font-family: 'Roboto';
    font-size: 420%;
    font-weight: 400;
    line-height: 1.15;
}

.about_first {
    padding: 3%;
}
.about_first_block {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.about_first_block_ikons {
    display: flex;
    flex-direction: column;
    width: 27%;
    /* height: 800px; */
    background-color: #2C2335;
    padding: 2%;
    border-radius: 20px;
}
.about_first_block_ikons-dark {
    background-color: #7F869D;
}
.about_first_block_ikons-dark p {
    color: #000;
}
.about_column {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}
.about_first_block_ikons_content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%; /* float */
}
.about_first_block_ikons_contentright {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%; /* float */
}
.about_first_block_ikons_content_img {
    /* height: 60%; */
    background-color: #F6F1EA;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 2%;
    border-radius: 20px;
}
.about_first_block_ikons_content_img img {
    width: 180px;
    height: 180px;
    display: block;
    object-fit: cover;
}
.about_first_block_ikons_content_text {
    color: #f6f1ea;
    font-family: 'Lato';
    font-size: larger;
    font-weight: 100;
    margin-left: 3%;
}
.about_first_block_ikons_content_text_right {
    color: #f6f1ea;
    font-family: 'Lato';
    font-size: larger;
    font-weight: 100;
    margin-right: 3%;
    float: right;
}
.about_first_block_ikons_content_text_text {
    width: 100%;
}
.about_first_block_work {
    background-color: #7F869D;
    padding: 3%;
    /* margin-left: 3%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    border-radius: 20px;
}
.about_first_block_work_content {
    width: 48%;
    background-color: #A19286;
    margin: 0px;
    height: 100%;
    padding: 3%;
    border-radius: 20px;
}
.about_first_block_work_content_text {
    color: #f6f1ea;
    font-family: 'Playfair Display', Italic;
    font-size: x-large;
    font-weight: 200;
}
.about_first_block_work_content_img {
    width: 48%;
    background-color: #A19286;
    margin: 0px;
    height: 100%;
    border-radius: 20px;
}
.about_first_block_work_content_img_client {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.about_first_block_content {
    height: 360px;
    background-color: #2C2335;
    /* margin-left: 3%; */
    margin-top: 3%;
    padding: 3%;
    border-radius: 20px;
}
.about_first_block_content-dark {
    background-color: #F6F1EA;
}
.about_first_block_content-dark p {
    color: #000;
}
.about_first_block_content_text {
    color: #f6f1ea;
    font-family: 'Lato';
    font-size: x-large;
    font-weight: 100;
}

.about_second {
    background-color: #2C2335;
    padding: 3%;
}
.about_second_block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: stretch; */
}
.about_second_block_left {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.about_second_block_left_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.about_second_block_left_top_base {
    width: 100%;
    background-color: #F6F1EA;
    border-radius: 20px;
}
.about_second_block_left_top_base_img {
    position: relative;
    top: -20px;
    width: 95%;
    margin: auto;
    
}
.about_second_block_left_top_base_img img {
    object-fit: cover;
    display: block;
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.5);
    background-color: rgba(240, 248, 255, 0);
}
.about_second_block_left_top_base_text {
    font-family: 'Lato';
    font-size: x-large;
    font-weight: 400;
    margin-left: 2.5%;
    margin-bottom: 5%;
}
.about_second_block_left_bottom {
    background-color: #7F869D;
    padding-right: 2.5%;
    border-radius: 20px;
}
.about_second_block_left_bottom_text {
    font-family: 'Playfair Display', Italic;
    font-size: x-large;
    font-weight: 500;
    margin-left: 2.5%;
    margin-bottom: 18%;
    margin-top: 2%;
}
.about_second_block_right {
    width: 57%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}
.about_second_block_right_top {
    background-color: #F6F1EA;
    padding: 2%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4.8%;
    border-radius: 20px;
}
.about_second_block_right_top_img {
    height: 450px;
    
}
.about_second_block_right_top_img img {
    width: 450px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 14px 7px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.about_second_block_right_top_content_text {
    font-family: 'Lato';
    font-size: x-large;
    font-weight: 400;
    margin-left: 3%;
}
.about_second_block_right_bottom {
    display: flex;
    flex-direction: row;
}
.about_second_block_right_bottom_left {
    background-color: #F6F1EA;
    margin-right: 3%;
    padding: 3%;
    border-radius: 20px;
}
.about_second_block_right_bottom_left h3 {
    font-family: 'Lato';
    font-size: x-large;
    font-weight: 400;
}
.about_second_block_right_bottom_right {
    background-color: #F6F1EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.about_second_block_right_bottom_right_img {
    position: relative;
    top: -20px;
    width: 95%;
    margin: auto;
    
}
.about_second_block_right_bottom_right_img img {
    object-fit: cover;
    display: block;
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.5);
}
.about_second_block_right_bottom_right_text {
    font-family: 'Lato';
    font-size: x-large;
    font-weight: 400;
    margin-left: 3%;
}


/*MENU*/

.menu {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
}
.menu_buttons {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_buttons_button {
    background-color: #A19286;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
}
.menu_searches {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_searches_search {
    background-color: #7F869D;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
}
.menu_searches_search_name {
    color: #F6F1EA;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 200%;
    margin-left: 9%;
    text-decoration: none;
}
.menu_buttons_button_name {
    color: #F6F1EA;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 200%;
    margin-left: 4%;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__content {    
    width: 300px;
    margin: 100px;
    padding: 30px 70px 15px;
    background-color: #ffffff;
    box-shadow: -1px 5px 12px 0 rgba(89, 90, 90, 0.3);
    z-index: 2;
}
.modal_button {
    width: 20px;
    height: 20px;
    outline: none;
    font-size: 0;
  
    background: none;
    border: 0;
}
.modal_button::after,
.modal_button::before {
    content: "";
    outline: none;
    position: absolute;
    right: 0;
    top: 20px;
  
    width: 26px;
    height: 6px;
    margin: -13px -3px;
  
    background-color: #7656de;
}
.modal_button::before {
    transform: rotate(45deg);
}
  
.modal_button::after {
    transform: rotate(-45deg);
}
  
.modal_button:hover::after,
.modal_button:hover::before,
.modal_button:focus::after,
.modal_button:focus::before {
    background-color: #9b7ff7;
}
  
.modal_button:active::after,
.modal_button:active::before {
    background-color: #4023a0;
}
.modal_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerport{
    display: flex;
    padding: 3%;
    justify-content: space-between;
}
.card {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
    width: 48%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 2%;
    /* border-radius: 20px; */
}
.card:first-child {
    background-color: #2C2335;
}
.card:last-child {
    background-color: #7F869D;
}
.promech_tittle {
    font-family: 'Roboto';
}
.title {
    color: #F6F1EA;
    font-size: 18px;
}
.promech_content p {
    font-family: 'Lato';
}
.fleks_button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    margin-top: 5%;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: #A19286;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}

.promech_link {
    text-decoration: none;
    font-size: 22px;
    color: #F6F1EA;
}

.fleks_button:hover, a:hover {
    opacity: 0.7;
}
/* .card img{
    overflow:hidden;
    min-width: auto;
} */
.fleks {
    width: 80%;
}
.fleks_img {
    background-color: #F6F1EA;
    padding: 2%;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}
.promech {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    align-items: stretch;
    color: #F6F1EA;
}
.Tramp {
    width: 180px;
    height: 300px;
}

.button {
    width: 33.33%;
    border: none;
}
.button:hover {
    box-shadow: 0px 0px 28px 2px rgba(14, 36, 52, 0.4);
}
.gallery_bigimg {
    padding: 3%;
    width: 50%;
}
.button img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.gallery {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.gallery__photo-full {
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: 0px 0px 28px 2px rgba(14, 36, 52, 0.4);
}
.gallery__photo-full-dark {
    box-shadow: 0px 0px 28px 2px #f6f1ea1e;
}
.gallery__photo-previews {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 3%;
}

.footer {
    background-color: #2C2335;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}
.footer-dark {
    background-color: #7F869D;
}
.footer_top {
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #F6F1EA;
    align-items: center;
    justify-content: space-between;
}
.footer-dark .footer_top {
    border-bottom: 1px solid #000;
}
.footer_top_content {
    color: #F6F1EA;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 100%;
    margin-left: 1.5%;
    width: 67%;
}
.footer_top_button {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}
.footer_top_button a {
    text-decoration: none;
    color: #F6F1EA;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: larger;
    margin-right: 3%;
}
.footer_base {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.footer_firstpart_div {
    width: 20%;
    /* height: 91px; */
    text-align: center;
    margin: auto;
    /* margin-left: 50px;
    margin-right: 50px; */
}
.firstpart_titlle {
    color: rgb(255, 252, 245);
    font-size: large;
    font-family: 'Roboto';
    font-weight: 500;
}
.firstpart_content {
    color: #9c9c9c;
    font-size: 14;
    font-family: 'Raleway';
    font-weight: 400;
}
.slink {
  display: inline-block;
  text-align: center;
  border: 2px solid #9c9c9c;
  border-radius: 3px;
  width: 41px;
  height: 41px;
  padding-top: 3px;
}
.footer-dark .slink {
    border: 2px solid black;
}
.footer-dark p {
    color: #000;
}
.footer-dark h4 {
    color: #000;
}

@media (max-width: 1440px) {
    body {
        width: 100%;
    }
    .gallery__photo-full {
        height: 380px;
    }
}

@media (max-width: 1024px)  {
    .gallery__photo-full {
        height: 300px;
    }
    body {
        width: 100%;
    }
    .header {
        height: 400px;
    }
    .header_base {
        margin-top: 6em;
        margin-left: 3em;
    }
    .about_first_block {
        flex-direction: column;
    }
    .about_first_block_ikons {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .about_first_block_ikons_content {
        margin-bottom: 0px;
        width: 32%;
        margin-right: 0px;
        align-items: center;
    }
    .about_first_block_ikons_contentright {
        flex-direction: row-reverse;
        margin-bottom: 0px;
        width: 32%;
        margin-right: 0px;
        align-items: center;
    }
    .about_first_block_ikons_content_text {
        font-size: large;
    }
    .about_first_block_ikons_content_text_right {
        font-size: large;
        margin-right: 0px;
        margin-left: 3%;
    }
    .about_first_block_ikons_content_img {
        padding: 1%;
    }
    .about_first_block_ikons_content_img img {
        width: 100px;
        height: 100px;
    }
    .about_column {
        margin-left: 0px;
        margin-top: 3%;
        width: 100%;
    }

    .about_second_block {
        display: flex;
        flex-direction: column;
    }
    .about_second_block_left {
        flex-direction: row;
        width: 100%;
    }
    .about_second_block_left_top {
        width: 50%;
        margin-bottom: 0px;
        margin-right: 3%;
    }
    .about_second_block_left_top_base_img {
        top: -15px;
    }
    .about_second_block_left_bottom {
        width: 47%;
    }
    .about_second_block_right {
        width: 100%;
        margin-left: 0px;
        margin-top: 3%;
    }
    .about_second_block_right_top {
        margin-bottom: 3%;
    }
    .about_second_block_right_bottom_right_img {
        top: -15px;
    }

    .menu {
        height: 350px;
    }
    .footer {
        height: 300px;
    }
}
@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }
    .gallery_bigimg {
        width: 100%;
    }
    .gallery__photo-full {
        height: 400px;
    }
    .gallery__photo-previews {
        width: 100%;

    }
    .header {
        height: 300px;
    }
    .header_top {
        justify-content: space-evenly;
    }
    .header_base {
        margin-left: 3%;
        margin-top: 2.2em;
    }
    .about_first_block_ikons {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .about_first_block_ikons_content {
        width: 40%;
    }
    .about_first_block_ikons_contentright {
        width: 40%;
    }
    .about_first_block_work {
        height: 300px;
    }
    .about_first_block_work_content_text {
        font-size: larger;
    }
    .about_first_block_content {
        height: 300px;
    }
    .about_first_block_content_text {
        font-size: larger;
    }

    .about_second_block_left_top_base_text {
        font-size: larger;
    }
    .about_second_block_right_top_img {
        height: 300px;
    }
    .about_second_block_right_top_img img {
        width: 300px;
        height: 300px;
    }
    .about_second_block_right_top_content_text {
        font-size: larger;
    }
    .about_second_block_right_bottom_left h3 {
        font-size: larger;
    }
    .about_second_block_right_bottom_right_text {
        font-size: larger;
    }

    .menu {
        height: 250px;
    }
    .menu_buttons_button {
        height: 60px;
    }
    .menu_searches_search {
        height: 60px;
    }
    .menu_buttons_button_name {
        font-size: x-large;
    }
    .menu_searches_search_name {
        font-size: x-large;
    }

    .footer_top_content {
        font-size: small;
    }
    .firstpart_titlle {
        font-size: medium;
    }
    .firstpart_content {
        font-size: small;
    }
}

@media (max-width: 425px) {
    .footer_top_button a {
        font-size: large;
    }
    .header_top_links {
        display: none;
    }
    .burger {
        display: block;
        margin-top: 2px;
        margin-left: 2px;
    }
    .burger-btn {
        display: block;
        height: 35px;
        width: 35px;
        background-color: none;
        border-radius: 50%;
        position: relative;
    }
    span::before,
    span::after,
    span {
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #F6F1EA;
    }
    span::before,
    span::after {
        content: '';
        display: block;
        transition: 0.5s;
    }
    span::before {
        transform: translateY(-7px);
    }
    span::after {
        transform: translateY(7px);
    }
    .burger-btn_active span::before {
        transform: rotate(45deg);
    }
    .burger-btn_active span {
        height: 0px;
    }
    .burger-btn_active span::after {
        transform: rotate(-45deg);
    }
    
    .header_top_links_active {
        display: block;
        position: absolute;
        left: 2px;
        top: 31px;
    }
    .header_top_links_active .header_top_links_link {
        display: block;
    }

    .header {
        height: auto;
        /* position: fixed;
        top: 0px; */
        border-bottom: none;
        padding-left: 2%;
        padding-right: 3%;
    }
    .header_active {
        height: 155px;
        transition: 0.5s;
    }
    .header_top {
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .header_base {
        display: none;
    }
    .header_top_button .header_top_links_link {
        font-size: 100%;
    }
    .about_first_block_ikons {
        flex-direction: column;
        padding: 5%;
    }
    .about_first_block_ikons_content {
        width: 100%;
    }
    .about_first_block_ikons_contentright {
        width: 100%;
        margin-top: 3%;
        margin-bottom: 3%;
        flex-direction: row;
    }
    .about_first_block_ikons_content_img img {
        width: 130px;
        height: 130px;
    }
    .about_first_block_work {
        flex-direction: column;
        height: auto;
    }
    .about_first_block_work_content {
        width: 100%;
        margin-bottom: 3%;
    }
    .about_first_block_work_content_img {
        width: 100%;
    }
    .about_first_block_work_content_img img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .about_first_block_content {
        height: auto;
    }
    .about_first_block_content p {
        font-size: medium;
    }

    .about_second {
        padding-top: 6%;
    }
    .about_second_block_left {
        flex-direction: column;
    }
    .about_second_block_left_top {
        width: 100%;
    }
    .about_second_block_left_bottom {
        margin-right: 0px;
        margin-top: 3%;
        width: 100%;
    }
    .about_second_block_right_top {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .about_second_block_right_top_img {
        width: 300px;
        margin-bottom: 3%;
    }
    .about_second_block_right_top_img img {
        width: 100%;
        height: 300px;
    }
    .about_second_block_right_bottom {
        flex-direction: column;
    }
    .about_second_block_right_bottom_left {
        margin: 0px;
    }
    .about_second_block_right_bottom_right {
        margin-top: 7%;
    }
    .gallery__photo-full {
        height: 250px;
    }
    .menu h2,
    .menu a {
        font-size: large;
    }

    .containerport {
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin-top: 3%;
    }
    .footer {
        height: 250px;
    }
    .firstpart_titlle {
        font-size: small;
    }
    .firstpart_content {
        font-size: x-small;
    }
    .slink {
        width: 21px;
        height: 21px;
    }
}